
body {
    background: #492128;
    font-family: Arial;
}
h1 {
    color: red;
}
/* HDb43eJja1NeIaL3b1fZEjR8wZM45O47rxfcwEfswH1QAFGE0V19gXE1GbreF63m7OpCFqhbEYZAh0ZtFZ8mCSWqItb2VU7zrJZFTjm8KpnrRKV9aDoOwDlHNAFy1qA8eFlvqndU9VQAOD4vshFKe84munJNjFwmOlfiBMwemgwyWinVwfsK8PTLMh8B4ArBz5u1J6OT */
